body {
  font-family: Arial;
  background: #f4f4f4;
}

#products {
  display: flex;
  flex-wrap: wrap;
}

.card {
  background: white;
  margin: 10px;
  padding: 10px;
  width: 200px;
}

img {
  width: 100%;
}
